.wrapper {
    display: flex;
    flex: 1 1 auto;
    gap: 24px;
    padding: 24px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background: white;
}
.dialogsWrapper {
    flex-grow: 1;
}
.dialogsContainer {
    max-height: 400px;
    overflow-y: scroll;
}

.friendsContainer {
    display: flex;
    flex-direction: column;
}
.friendsContainer a {
    text-decoration: none;
    color: var(--text);
    padding: 8px;
    border-radius: 4px;
}

.friendsContainer a:hover {
    background: #e639461f;
}

.friendsContainer a.active {
    color: var(--primary);
}

.messageWrapper {
    display: flex;
    max-width: fit-content;
    gap: 16px;
    padding: 16px;
    border-radius: var(--border-radius);
    margin: 8px 0;
    background: #fff6f6;
}

.avatar {
    width: 80px;
}

.avatar img {
    width: inherit;
}

.controlContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 40px;
}

.controlContainer textarea {
    width: 100%;
    height: 80px;
}