.wrapper {
    display: flex;
    gap: 24px;
}

.avatarContainer {
    max-width: 240px;
}

.avatarContainer img {
    max-width: inherit;
    border-radius: 4px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.descriptionItem {
    display: flex;
    flex-direction: column;
}

.contactItem {
    display: flex;
    gap: 16px;
}

.contactItem span:first-child {
    min-width: 80px;
}