* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fira Sans", sans-serif;
  color: var(--text);
  margin: 0;
  background-color: #f5f5f5;
}