:root {
    --text: #333;
    --primary: #4a5877;
    --primary-light: rgba(77, 88, 119, 0.75);
    --secondary: #f5a417;

    --border: 4px solid lightgrey;
    --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    --border-radius: 4px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}

.formikFormContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}